@CHARSET "UTF-8";
/******* GENERAL RESET *******/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
 tfoot, thead, tr, th, td {
border:0pt none;
font-family:inherit;
font-size: 100%;
font-style:inherit;
font-weight:inherit;
margin:0pt;
padding:0pt;
vertical-align:baseline;
}


a{
	text-decoration: none;
}
.clear{
	clear: both;
	height: 0;
	visibility: hidden;
	display: block;
}

/******* GENERAL RESET *******/
/******* LOGO *******/
#logo{
	margin-top: 1em;
	display: block;
}
/******* /LOGO  *******/
/******* MENU *******/
#container3{
	margin: 						3px;
	width:							615px;
	float:							left;
	margin-right:					10px;
	
}
#container3 ul{
	list-style: none;
	list-style-position: outside;
}
#container3 ul.menu li{
	float: left;
	margin-right: 5px;
	margin-bottom: -1px;
	font-family:	Adobe Caslon;
	font-size:		14px;
	font-weight:	normal;
}
#container3 ul.menu li{	
	display: block;
	padding: 5px 10px 5px 10px;
	background: #efefef;
	margin-bottom: -1px;
	border: 1px solid #d0ccc9;
	border-width: 1px 1px 1px 1px;
	position: relative;
	color: #7C7C7C;
	cursor: pointer;
}
#container3 ul.menu li.active{
	background: #F4F4F4;
	top: 1px;
	border-bottom: 0;
	color: #008441;
}
/******* /MENU *******/
#container3 ul.menu3 li{
	float: left;
	margin-right: 5px;
	margin-bottom: -1px;
	font-family:	Adobe Caslon;
	font-size:		14px;
	font-weight:	normal;
}
#container3 ul.menu3 li{	
	display: block;
	padding: 5px 10px 5px 10px;
	background: #efefef;
	margin-bottom: -1px;
	border: 1px solid #d0ccc9;
	border-width: 1px 1px 1px 1px;
	position: relative;
	color: #7C7C7C;
	cursor: pointer;
}
#container3 ul.menu3 li.active{
	background: #F4F4F4;
	top: 1px;
	border-bottom: 0;
	color: #008441;
}
/******* /MENU *******/
/******* CONTENT *******/
.contentbec{
	margin: 0pt auto;
	background: #efefef;
	background: #F4F4F4;
	border: 1px solid #d0ccc9;
	text-align: left;
	padding: 10px;
	padding-bottom: 20px;
	font-size: 11px;
  //margin-top:					-19px;
  	
}
.contentbec h1{
	line-height: 1em;
	vertical-align: middle;
	height: 48px;
	padding: 10px 10px 10px 52px;
	font-size: 32px;
}
/******* /CONTENT *******/
/******* NEWS *******/
.contentbec.ags h1{
	background: transparent url(images/news.jpg) no-repeat scroll left top;
}
.contentbec.ags{
	display: block;
}
.contentbec.ags a{
	color: #7C7C7C;
}
.contentbec.ags a:hover{
	color: #008441;		
	
}
/******* /NEWS *******/
/******* TUTORIALS *******/
.contentbec.bc h1{
	background: transparent url(images/tuts.jpg) no-repeat scroll left top;
}
.contentbec.bc{
	display: none;
}
.contentbec.bc a{
	color: #7C7C7C;
}
.contentbec.bc a:hover{
	color: #008441;	
	
}
/******* /TUTORIALS *******/
/******* LINKS *******/
.contentbec.bcs h1{
	background: transparent url(images/links.jpg) no-repeat scroll left top;
}
.contentbec.bcs{
	display: none;
}
.contentbec.bcs a{
	color: #7C7C7C;
}
.contentbec.bcs a:hover{
	color: #008441;
}
/******* /TUTORIALS *******/
/******* LINKS *******/
.contentbec.camp h1{
	background: transparent url(images/links.jpg) no-repeat scroll left top;
}
.contentbec.camp{
	display: none;
}
.contentbec.camp a{
	color: #7C7C7C;
}
.contentbec.camp a:hover{
	color: #008441;
}
/******* /TUTORIALS *******/
/******* LINKS *******/
.contentbec.chis h1{
	background: transparent url(images/links.jpg) no-repeat scroll left top;
}
.contentbec.chis{
	display: none;
}
.contentbec.chis a{
	color: #7C7C7C;
}
.contentbec.chis a:hover{
	color: #008441;
}
/******* /TUTORIALS *******/
/******* chihuahua *******/
.contentbec.chi h1{
	background: transparent url(images/links.jpg) no-repeat scroll left top;
}
.contentbec.chi{
	display: none;
}
.contentbec.chi a{
	color: #7C7C7C;
}
.contentbec.chi a:hover{
	color: #008441;
}
/******* /LINKS *******/